# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
newenv/
env/
.venv/

# Django
db.sqlite3
*.sqlite3

# Environment variables (VERY IMPORTANT)
.env
.env.*

# Static / media
media/
staticfiles/

# Logs
*.log

# macOS
.DS_Store

# VS Code
.vscode/

# Python packaging
*.egg-info/
dist/
build/

# Coverage / testing
.coverage
htmlcov/

# Migrations cache (optional)
**/__pycache__/