# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
newenv/
env/

# Django
db.sqlite3
*.sqlite3

# Environment variables
.env

# Static / media (optional)
media/
staticfiles/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log