{% extends "base.html" %}

{% block title %}Signup | Minimal Auth{% endblock %}
{% block header %}Create an Account{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <input type="email" name="email" placeholder="Enter your email" required>
    <input type="password" name="password" placeholder="Enter your password" required>
    <button type="submit">Sign Up</button>
</form>
<p class="link-text">Already have an account? <a href="{% url 'login' %}">Login</a></p>
{% endblock %}
